@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.25);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
}

.card_1,
.card_2,
.card_3,
.stats-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  width: 275px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.19);
}

.card_1.rotate,
.card_2.rotate,
.card_3.rotate {
  animation: rotate 1.2s ease-in-out;
}

.card_1.rotate-back,
.card_2.rotate-back,
.card_3.rotate-back {
  animation: rotateBack 1.2s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.stats-info {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-info > * {
  padding: 5px;
}

.in-one-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin {
  margin-left: 5px;
}

button {
  cursor: pointer;
}

.text,
button {
  height: 50px;
  width: 150px;
  font-size: 21px;
}

.text {
  text-align: center;
  font-weight: 600;
  outline: none;
}

form {
  margin: 15px 0;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.last-result.red {
  color: red;
}

.last-result.green {
  color: green;
}

@media (max-width: 480px) {
  .main {
    top: 55%;
  }
  .card_1,
  .card_2,
  .card_3 {
    width: 105px;
    height: 105px;
    margin: 5px;
  }

  .stats-info {
    font-size: 14px;
    width: 150px;
    height: 175px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 120px;
  }

  .text,
  button {
    height: 50px;
    width: 125px;
    font-size: 21px;
  }

  button {
    padding: 5px;
  }
}
